<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qi.miaosha2.mapper.tusermapper">

    <insert id="pilianzhul">

        INSERT INTO t_user (`id`, `nickname`, `password`, `salt`, `head`, `register_date`, `last_login_date`, `login_count`) VALUES
        <foreach collection="list" separator="," item="turs">
            (#{turs.id},#{turs.nickname},#{turs.password},#{turs.salt},#{turs.head},#{turs.registerDate},#{turs.lastLoginDate},#{turs.loginCount})
        </foreach>



    </insert>
</mapper>
